<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aistudyassistant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_temp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIStudyAssistant"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AIStudyAssistant.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.AccountSettingsActivity" />
        <activity android:name=".activities.ShareActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.MaterialDetailActivity" />
        
    </application>

</manifest>
